# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Data
data/raw/
data/processed/

# Checkpoints / models
checkpoints/

# OS files
.DS_Store
Thumbs.db

# dependencies
node_modules/
package-lock.json
npm-debug.log

# production
build/

# local env files
.env

# misc
.DS_Store
